/* News */

.News{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  align-items: center; 
}

.listGroup
{
  /* border: 2px solid green; */
  margin: 20px 20px;
  width: 60%;
}

.New_item{
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;

}

.item_title{
  font-size: large;
  font-weight: 700;
}

.New-pic{
  object-fit: fill;
  height: 400px;  
}
