/* Shop */
.AboutShop{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 80px;
  height: 60vh;
}

.Map{
  width: 60%;
  margin-left: 10px;
}
.Info{
  font-family: "PT Serif", serif;
  font-weight: 600;
  width: 40%;
  margin: 0px 20px;
  max-width: 400px;
  text-align: left;
}

.Info_item{
    padding-top: 10px;
    padding-left:10px ;
  }

  @media screen and (max-width: 768px){

      .AboutShop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh; 
      }
      #map{
       display: flex;
       justify-content: flex-start;
       width: 200px;
      }
     
      .Info{
        display: flex;
       justify-content: flex-end;
      }

  }