/* Shop */
.AboutShop{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50vh;
  align-items: center;
}

.Map{
  width: 50%;
  margin-left: 0 20px;
  height: 45vh;
}

.map{
  /* border: 2px solid green; */
  width: 650px;
  height: 45vh;
}

.Info{
  font-family: "PT Serif", serif;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
}

.Info_item{
    margin-top: 30px;
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    align-items: stretch; 
  }

  .item{
    padding: 20px;
    width: 100%;
    border-right: 1px solid  #736F6C; 
    box-sizing: border-box; /* 包含邊框和內距在內 */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
  }

  .Info_item .item:last-child{
    border-right: none;
  }

  @media screen and (max-width: 768px){

      .AboutShop{
        display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
      height: 50vh; 
      }
     
     
      .Info{
        text-align: left;
        margin: 30px auto;
      }
      .Info_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
        align-items: center; 
        margin: 0 auto;
        padding-left: 0;
        padding-top: 30px;
      }

      .item{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width:100%;
        border-bottom: 1px solid  #736F6C;
        border-right: none;
        font-size: 16px;
        box-sizing: border-box; /* 包含 padding 在内 */
      }

      .Info_item .item.item:last-child{
       border-bottom:none 
      }
  }

  